<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_rHMDc5V0QqS9jwTAmG3K5xyx44uyx8c</string>
	<key>GCM_SENDER_ID</key>
	<string>451274214291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>site.tunckankilic.cryptoFlow</string>
	<key>PROJECT_ID</key>
	<string>cryptoflow-3437b</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptoflow-3437b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451274214291:ios:b93656ad9617a5c9137666</string>
</dict>
</plist>